.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 809px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 56px;
  margin-bottom: 56px;
  margin-left: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 698px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 138px 0 0 13px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 42px 7px 0;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 7px 0;
}

.u-section-1 .u-image-1 {
  width: 70px;
  height: 70px;
  margin: 13px auto 0 21px;
}

.u-section-1 .u-image-2 {
  width: 70px;
  height: 70px;
  margin: -70px auto 0 112px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 14px 7px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 698px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  letter-spacing: 1px;
  font-size: 3rem;
  margin: 89px 246px 0 0;
}

.u-section-1 .u-form-1 {
  height: 368px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 576px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 576px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 136px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 17px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 67px;
    margin-right: 23px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 12px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 44px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-left: 23px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 67px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}.u-section-2 {
  background-image: url("images/fggg-min.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 809px;
}

.u-section-2 .u-list-1 {
  width: 485px;
  margin: 259px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 332px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 45px 30px 15px;
}

.u-section-2 .u-icon-1 {
  height: 40px;
  width: 40px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -40px 0 0 65px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0 65px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 45px 30px 15px;
}

.u-section-2 .u-icon-2 {
  height: 40px;
  width: 40px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -40px 0 0 65px;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0 65px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-2 .u-list-1 {
    width: 443px;
    height: auto;
    margin-top: 145px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-2 .u-list-1 {
    width: 406px;
    margin-top: 77px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-2 .u-list-1 {
    width: 388px;
    margin-top: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-2 .u-list-1 {
    width: 275px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 213px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 213px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 20px;
  }
}